    <div class="container">
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card"></p>

            <center>Bem vindo!<br>
              <% if member_signed_in? %>
                <% redirect_to whatever_path %>
              <% else %>
                <%= link_to "Fazer Login", new_member_session_path %>

              <% end %>
            </center>
        </div><!-- /card-container -->
    </div><!-- /container -->
