<div class="row">
  <div class="col-md-3">
  </div>

  <div class="login-tmp-box col-md-6">
    <div class="login-box">
      <div class="login-box-body">

        <div class="nb-error">
          <div class="error-code">404</div>
          <h3 class="font-bold">Não pudemos encontrar essa página...</h3>

          <div class="error-desc">
            Desculpe, mas a página que você procura não está disponível ou não existe. <br/><br/>

              <ul class="list-inline text-center text-sm links">
                <li class="list-inline-item"><a href="/home" class="text-muted">Home</a>
                </li>
                <%if !member_signed_in?%>
                  <li\ class="list-inline-item"><a href="/log_in" class="text-muted">Log in</a>
                <%end%>
                </li>
              </ul>

            <div class="text-center">
              <span>©</span>
              <span>2017</span>
              <span>-</span>
              <span>AutoTrack</span>
              <br>
              <span>All lefts reserved</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
