// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#to-do-button{
  margin-bottom: -50px;
}

.fa-arrow-right:before {
  color: #696969;
}

.fa-arrow-left:before {
  color: #696969;
}

.fa-edit:before {
  color: #696969;
}

.fa-trash-o:before {
  color: #696969;
}
