/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
  *= require font-awesome
  *= require ionicons
  *= require admin-lte
 */

 html, body, #wrapper {
   margin: 0;
   padding: 0;
 }

 body {
   background-image: url("overlay-background.png"), url("login.jpg") !important;
 }

 .main-header {
   color: #222222 !important;
   background-color: #ffffff !important;
 }
 #header-logo-name {
   vertical-align: middle;
   color: #228B22 !important;
 }

 .main-header > .logo {
   color: #222222 !important;
   background-color: #ffffff !important;
 }

 .flash-conteiner {
  width: 50%;
  padding-top: 1%;
}

.alert.alert {
  width: 100%;
  margin-left: 50%;
  text-align: center;
}

.alert.alert-notice {
  border: 1px solid #f39c12;
  background: cornsilk;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  /*FIXME*/
  display: none;
}

.submission {
  display: none;
}

.rooms > h2,
.people > h2,
.topics > h2,
.questions > h2 {
  border-bottom: 1px solid gray;
}

.search-results {
  margin: 0% 0 0 5%;
  width: 90%
}

/* dropdown overflow correction */
.dropdown-menu {
    left: -11.5em !important;
}

/*********************Aqui*********************/
/*Logo*/
.navbar-brand { position: relative; z-index: 2;}

.navbar-nav.navbar-right .btn { position: fixed; z-index: 2; padding: 6px 25px; margin: 7px auto; color: #388E3C}

.navbar .navbar-collapse { position: relative;}
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px;}

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%;border-color: #388E3C;}
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8;}
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; border-color: #388E3C;}
.btn.btn-outline { background-color: transparent;}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none;}
}
.red_it {color: #cc0000 !important; border-color: #cc0000 !important}
